@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
}
:root{
  --colorPrimary:#0D263B;
  --colorSecondary:#696969;

  /* background */
  --backgroundPrimary:#0061DF;

}